@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-background-primary: #f8f8f8;
  --color-background-surface: #ffffff;
  --color-primary-medium: #4f772d;
  --color-primary-deep: #2e7d32;
  --color-secondary-medium: #90a955;
  --color-secondary-deep: #4f772d;
  --color-accent: #e6b566;
  --color-success: #2e7d32;
  --color-warning: #e6b566;
  --color-danger: #e53935;
  --color-info: #90a955;
  --color-text-primary: #2f2f2f;
  --color-text-secondary: #666666;
}
